ion-item{
    
    margin-bottom: 7%;
    margin-top: 7%;
    --highlight-height: 0px;

   

    
}
ion-button{
    margin-left: 30%;
    margin-top: 7%;;
}
.a{
    --border-radius: 10px;

}

.b{
    --border-radius: 30px;

}