ion-item{

  margin-bottom: 7%;
  margin-top: 7%;
  --highlight-height: 0px;

}
ion-note{
  margin-left: 15%;
}
.shortTextButton{
  margin-left: 30%;
  margin-top: 7%;;
}
.longTextButton{
  margin-left: 20%;
  margin-top: 7%;;
}
.a{
  --border-radius: 10px;

}
