<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Sign Up</h1>
  </div>

  <form id="form" [formGroup]="userForm" (ngSubmit)="signUp(email, password)">
    <ion-item>
      <ion-input
        type="text"
        formControlName="username"
        placeholder="Username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        #email
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Password" #password
        required></ion-input>
    </ion-item>


    <ion-list id="list">
      <ion-item id="listItem" >
        <ion-label>Città</ion-label>
        <ion-select  formControlName="city" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="Roma">Roma</ion-select-option>
          <ion-select-option value="Milano">Milano</ion-select-option>
          <ion-select-option value="Torino">Torino</ion-select-option>
          <ion-select-option value="Napoli">Napoli</ion-select-option>
          <ion-select-option value="Amendola">Amendola</ion-select-option>
          <ion-select-option value="Pescara">Pescara</ion-select-option>
          <ion-select-option value="Catanzaro">Catanzaro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" shape="round" >Sign up</ion-button>
  </form>
</ion-content>
