<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first2" color="dark"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top">
    <img *ngIf="user?.imageUrl; else placeholder_image;" [src]="user.imageUrl" />
    <ng-template #placeholder_image>
      <img src="https://img.tineye.com/result/9c4bc086755c4683d69018eb5d182cdfc59b95cd2dffe87fb357f7294c0086c4-5?size=160">
    </ng-template>
    <h3>{{user["username"]}}</h3>
    <ion-label>Followers <ion-badge color="primary">{{followers}}</ion-badge></ion-label>

  </div>


  <ion-item>
    <ion-input placeholder="placeholder" value="Email:     {{user['email']}}" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="placeholder" value="City:     {{user['city']}}" disabled="true" ></ion-input>
  </ion-item>
  <ion-item id="editButton" lines="none">
    <ion-button routerLink="/edit-profilo">Edit profile</ion-button>
  </ion-item>

</ion-content>
