<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first2" color="dark"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top">
    <img src="assets/images/franco.png" >
    <h3>Franco</h3>

    <ion-label>Followers <ion-badge color="primary">11</ion-badge></ion-label>
  </div>

  <ion-item>
    <ion-input placeholder="placeholder" ></ion-input>
    <ion-button color="dark" fill="clear" shape="round">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-input placeholder="placeholder"></ion-input>
    <ion-button color="dark" fill="clear" shape="round">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-input placeholder="placeholder"></ion-input>
    <ion-button color="dark" fill="clear" shape="round">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
