<ion-header class="ion-no-border">
  <ion-toolbar>


  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/images/logoWH.png">
  </div>

  <form>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input  type="email" placeholder="email" #email required></ion-input>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input  type="password" placeholder="password" #password required></ion-input>

   </ion-item>



   <ion-button
     (click)="logIn(email,password)"
     type="submit"  expand="block" shape="round" >Login</ion-button>
    <ion-label>
      You don't have an account? <a [routerLink]="['/signup']">Signup</a>
    </ion-label>


 </form>


</ion-content>
