ion-item{

  margin-bottom: 7%;
  margin-top: 7%;
  --highlight-height: 0px;




}
ion-button{


}
.a{
  --border-radius: 10px;

}

.b{
  --border-radius: 30px;

}

ion-searchbar{
  margin-top: 8%;
  margin-bottom: 4%;


}
#address{
  font-size: small;
}
#dates{
  font-size: small;
}

