<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first2" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button routerLink="/profilo" shape="round" color="dark" size="large">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <img *ngIf="user?.imageUrl; else placeholder_image;" [src]="user.imageUrl" id="profile-picture"/>
    <ng-template #placeholder_image>
      <img src="https://img.tineye.com/result/9c4bc086755c4683d69018eb5d182cdfc59b95cd2dffe87fb357f7294c0086c4-5?size=160" id="profile-picture">
    </ng-template>
    <h3>{{user['username']}}</h3>
    <div *ngIf="disabled; else follow_block;">
      <ion-button  [disabled]="disabled"  shape="round"><ion-icon name="checkmark"></ion-icon> </ion-button>
      <ion-button (click)="unfollow()"  shape="clear" slot="end" size="small"><ion-icon name="close"></ion-icon> Unfollow </ion-button>

    </div>
    <ng-template #follow_block>
      <ion-button (click)="follow()" shape="round"><ion-icon name="heart"></ion-icon> Follow </ion-button>
    </ng-template>

  </div>

  <ion-list>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input value="{{user['email']}}" disabled="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City:</ion-label>
      <ion-input value="{{user['city']}}" disabled="true"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
