

#buttonLeft{
  --border-radius: 100%;
  height: 40px;
  width: 45px;


}
#buttonRight{
  --border-radius: 100%;
  height: 40px;
  width: 45px;
  margin-left: 44%;
}

ion-card{
  font-size:x-small;
}
#nrButton{
  margin-top: 50%;
  margin-left: 27%;
}
#address{
  font-size: small;
}
#dates{
  font-size: small;
}

#History{
  background-color: #fff2e6;
  color: #ff881a;
}

#Concert{
  background-color: #fff5e6;
  color: #ff9900;
}

#Music{
  background-color: #e6ffff;
  color: #00ffff;
}

#Fashion{
  background-color: #ffebe6;
  color: #ff3300;
}

#Education{
  background-color: #e6e6ff;
  color: #0000cc;
}

#Art{
  background-color: #f2e6ff;
  color: #7b00ff;
}

#Green{
  background-color: #ebfaeb;
  color: #47d147;
}


#Food{
  background-color: #ffe6e6;
  color: #b30000;
}
#PopCulture{
  background-color: #ffe6f7;
  color: #e6009d;
}
