<ion-header>
  <ion-toolbar>
    <ion-title>Eventi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first2" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button shape="round" color="dark" size="large">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/images/tags/faschion.png">
          <ion-card-header>
            <ion-card-title>
              Faschion
            </ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets/images/tags/art.png">
          <ion-card-header>
            <ion-card-title>
              Art
            </ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="img_c" src="assets/images/tags/concert.png">
          <ion-card-header>
            <ion-card-title>
              Concert
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="img_c" src="assets/images/tags/education.jpg">
          <ion-card-header>
            <ion-card-title>
              Education
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>



    <ion-row>

      <ion-col>
        <ion-card>
          <img  class="img_c" src="assets/images/tags/dance-and-drinks.jpeg">
          <ion-card-header>
            <ion-card-title>
              Dance & Drinks
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <img class="img_c" src="assets/images/tags/popculture.png">
          <ion-card-header>
            <ion-card-title>
              Pop Culture
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-card>
          <img class="img_c" src="assets/images/tags/green.png">
          <ion-card-header>
            <ion-card-title>
              Green
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets/images/tags/history.jpg">
          <ion-card-header>
            <ion-card-title>
              History
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/images/tags/music.jpg">
          <ion-card-header>
            <ion-card-title>
              Music
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="img_c" src="assets/images/tags/food.jpg">
          <ion-card-header>
            <ion-card-title>
              Food
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
