<ion-header>
  <ion-toolbar>
    <ion-title>Eventi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first2" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button shape="round" color="dark" size="large">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col class="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
      <ion-col class="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
      <ion-col class="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col lass="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
      <ion-col lass="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
      <ion-col lass="square">
        <img src="assets/images/logoWH.png">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
